.card {
  position: fixed;
  bottom: 50px;
  width: 380px;
  height: 280px;
  background-color: white;
  border-radius: 16px;
  left: calc(50vw - 190px);
  padding: 16px 24px 20px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
  transition-duration: 0.5s;
}

.close {
  position: absolute;
  color: gray;
  left: 380px;
}

.button {
  bottom: 5px;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  padding: 14px 22px;
  width: 176px;
}

.button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button:hover:after {
  opacity: .5;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:active:after {
  opacity: 1;
}


@media (max-width:767px) {
  .card {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
  }

  .close {
    left: 480px;
  }
}